:root {
    --base-color: #fff;
    --action-color: #0265dc;
    --action-secondary-color: #0054b6;
    --secondary-color: #393e46;
    --third-color: #222831;
    --text-color: #2c2c2c;
    --gray-300: #e1e1e1;
    --gray-75: #fafafa;
}
  
body {
    height: 125vh;
    font-size: 14px;
    background-size: cover;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

input, textarea, button {
    font-family: inherit
}

section#hero {
    padding: 26px 56px 90px 134px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.heading-section-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 53px 0 37px;
    width: 800px;
}

.heading-section-right {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;

    img {
        vertical-align: middle;
        height: 400px;
        width: auto;
    }

}

section#use-cases {
    padding: 0 0 88px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#hero h1 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    color-scheme: light;
    margin-bottom: 22px;
    line-height: 34px;
}

button.accent {
    background-color: var(--action-color);
    color: var(--base-color);
    border-color: transparent;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 25px 10px;
}

button.accent:hover {
    background-color: var(--action-secondary-color);
}

button.primary {
    background-color: transparent;
    color: var(--text-color);
    border-color: #000;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 25px 10px;
    margin-left: 16px;
}

button.primary:hover {
    background-color: #d5d5d5;
}

.thumbnails:hover, .productCard:hover {
    opacity: 0.7;
    cursor: pointer;
}

#login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 20px 80px;
    width: 396px;
}

.center {text-align: center;
}

.top-margin {margin-top: 50px;
}

form {
    margin-top: 32px;
    padding-bottom: 32px;
}

input {width: 100%;height: 100%;padding: 8px;margin-bottom: 20px;box-sizing: border-box;
}

#form {float: right;
}

button[type="submit"] {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    background-color: var(--action-color);
    color: var(--base-color);
}

nav {
    --global-nav-height: 64px;
    height: var(--global-nav-height);
    max-height: var(--global-nav-height);
    min-height: var(--global-nav-height);
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    box-sizing: border-box;
    display: flex;
    outline: 0;
    padding: 0 8px;
    width: 100%;
    z-index: 20100;
}
.branding {
    flex: 0 0 auto;
    height: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 20px;
}

.header-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 5px 0 0;
}

.header-icon img {
    block-size: 40px;
    inline-size: 40px;
    color: inherit;
    fill: currentColor;
    pointer-events: none;
    display: inline-block;
}

nav div.main {
    flex: 1 1 auto;
    height: 100%;
    margin-left: 16px;
    min-width: 0;
    align-items: center;
    display: flex;
}

.main .menu {
    border-bottom: none;
    height: 60px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
    padding: 0 8px;
    vertical-align: top;
}

.menu-item {
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    text-decoration: none;
    white-space: nowrap;
    transition: color .13s ease-out;
    cursor: pointer;
    outline: none;
    height: 60px;
    line-height: 60px;
    margin-left: 24px;

    a {
        cursor: pointer;
        vertical-align: top;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: var(--text-color);
    }

    :hover {
        color: #000000;
        font-weight: 500;
    }
}

.util .signin {
    color: var(--text-color);
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;
}

.profile-icon {
    vertical-align: middle;
    box-sizing: content-box;

    img {
        block-size: 40px;
        inline-size: 40px;
        display: inline-block;
    }
}


section#use-cases {
    --toolTileWidthDesktop: 278px;
    --toolTileMarginDesktop: 12px;
    --toolTileWidthTablet: 336px;
    --toolTileMarginTablet: 16px;
    --toolTileWidthMobile: 327px;
    --toolTileMarginMobile: 12px;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0 88px;
}

section#use-cases h2 {
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
    min-height: 35px;
    padding: 0 136px;
    text-align: center;
    width: 100%;
}

.tiles-container {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
    min-height: 166px;
    width: 100%;
    padding: 0 calc(50% - var(--toolTileWidthDesktop)* 3 / 2 - var(--toolTileMarginDesktop)* 8 / 2);
}

.tile {
    height: 215px;
    margin: var(--toolTileMarginDesktop);
    width: var(--toolTileWidthDesktop);
}

.drop-zone {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    padding: 0;
    margin: 0 0 0 32px;
    text-align: left;
    --icon-size: 36px;
    cursor: pointer;
}

.drop-zone:first-child {
    margin-left: 0;
}

.drop-zone:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

article {
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--gray-300);
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    position: relative;
    text-decoration: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    align-self: flex-start;
}

.item-body-top {
    height: 45px;
    padding-bottom: 3px;
    align-items: center;
    display: flex;
}

.icon-placeholder {
    height: var(--icon-size);
    min-width: var(--icon-size);
    width: var(--icon-size);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 12px;
    text-align: center;
}

.title {
    font-size: 15px;
    font-weight: 650;
    line-height: 17px;
    margin: 0 0 2px;
    padding-right: 12px;
}

.item-description {
    display: inline;
    font-size: 14px;
    line-height: 18px;
    margin-top: 12px;
    text-align: left;
    text-align-last: left;
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word;
}

button.secondary {
    border-radius: 16px;
    border-width: 2px;
    border-color: #d5d5d5;
    border-style: solid;
    background-color: transparent;
    cursor: default;
    font-weight: 550;
    padding: 3px 14px 5px;
    width: 82px;
}

button.secondary:hover {
    background-color: #d1d1d1;
}
