:root {
    --base-color: #fff;
    --action-color: #0265dc;
    --secondary-color: #393e46;
    --third-color: #222831;
    --text-color: #2c2c2c;
}
  
body {
    margin-top: 2rem;
    height: 125vh;
    font-size: 14px;
    background-size: cover;
    background-color: var(--base-color);
    color: var(--text-color);
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

input, textarea, button {
    font-family: inherit
}

section#hero {
    padding: 26px 56px 64px 134px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.heading-section-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 53px 0 37px;
    width: 800px;
}

section#use-cases {
    padding: 0 0 88px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#hero h1 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    color-scheme: light;
    margin-bottom: 22px;
    line-height: 34px;
}

button.accent {
    background-color: var(--action-color);
    color: var(--base-color);
    border-color: transparent;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 25px 10px;
    margin-right: 16px;
}

button.primary {
    background-color: transparent;
    color: var(--text-color);
    border-color: #000;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px 25px 10px;
}

.thumbnails:hover, .productCard:hover {
    opacity: 0.7;
    cursor: pointer;
}

#login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 20px 80px;
    width: 396px;
  }
  
  .center {
    text-align: center;
  }
  
  .top-margin {
    margin-top: 50px;
  }

  
  form {
    margin-top: 32px;
    padding-bottom: 32px;
  }
  
  input {
    width: 100%;
    height: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  #form {
    float: right;
  }

th {
    text-align: left;
}

td {
  text-align: right;
}

button[type="submit"] {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    background-color: var(--action-color);
    color: var(--base-color);
}