#register {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 20px 80px;
    color: var(--base-color);
    width:500px;
    max-width:500px;
    display: inline-block;
  }

.form-group {
  position: relative;
  min-height: 46px;
  margin: 0 0 20px;
  padding: 0;
}

.sideBySide {
    display: flex;
}

.sideBySide > div, .sideBySide > div > select {
    position: relative;
    display: flex;
    height: 35px;
    font-size: 14px;
    text-align: left;
}

.sideBySide > div > select {
    position: relative;
    display: flex;
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    width: 160px;
}

.sideBySide > input {
    width: unset;
}

.secondField {
    margin-left: 16px;
    width: unset;
}