<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Events</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9eb426b767.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
  <div class="branding">
    <div class="header-icon">
      <img src="/images/rocket-icon.png" alt="">
    </div>
    Post Rocket
  </div>
  <div class="main">
    <div class="menu">
      <div class="menu-item">
        <a th:href="@{/home}" class="menu-link">Home</a>
      </div>
      <div class="menu-item">
        <a th:href="@{/dashboard}" class="menu-link active">Dashboard</a>
      </div>
      <div class="menu-item">
        <a th:href="@{/create/events}" class="menu-link">Create</a>
      </div>
    </div>
  </div>
  <div class="util">
    <a th:if="${user == null}" th:href="@{/signin}" class="signin">Sign in</a>
    <div th:if="${user != null}" class="profile-icon">
      <img src="/images/profile-icon.png" alt="Profile icon">
    </div>
  </div>
</nav>
<div class="foreground">
  <section id="home-banner" style="background-image: url(/images/dashboard-background.jpeg); background-size: cover; background-position: center" >
    <div class="home-banner-contents">
      <div class="title">
<!--        <h2 th:text="|Hi, ${user.getFirstName()}|"></h2>-->
            <h2 th:text="|Hi, John|"></h2>
            <p>Find and edit your saved posts here.</p>
      </div>
      <div class="home-banner-right-section">
        <img src="/images/paper-plane.svg" alt="Banner image">
        <button class="accent" type="button" th:onclick="|window.location.href='/home#use-cases'|" style="margin-left: 40px;">Create more</button>
      </div>
    </div>
  </section>

  <section id="table">
    <div class="row-group">
      <div class="card-container">
        <div class = "thread" th:each = "request : ${requests}">
          <div class="thread-header" th:id="|thread-id-@{{requestId}(requestId=${request.getId()})}|">
            <div class="accordion" th:text="${request.getName()}"></div>
            <i class="fa-solid fa-chevron-down"></i>
          </div>

          <form class="panel-item" id="panel" method="post"
                style="display: none;" th:action="@{/update/events/{postId}(postId=${post.getId()})}"
                th:each="post : ${request.getPosts()}">
            <input type="hidden"
                   th:id="|id@{{postId}(postId=${post.getId()})}|"
                   th:name="newValue"
                   th:value="${post.getPost()}">
            <textarea disabled
                      th:name="newValue"
                      th:id="|id@{{postId}(postId=${post.getId()})}|"
                      rows="1"
                      cols="200"
                      th:text="${post.getPost()}"></textarea>
            <button th:id="|button@{{postId}(postId=${post.getId()})}|" type="submit" class="small-icon save"><i class="fa-regular fa-circle-check fa-2xl" style="color: #888888;"></i></button>
            <button class="small-icon cancel"><i class="fa-regular fa-circle-xmark fa-2xl" style="color: #888888;"></i></button>
            <div class="dropdown-trigger">
              <button class="small-icon"><i class="fa-solid fa-ellipsis"></i></button>
              <div class="dropdown-menu">
                <ul class="dropdown-items">
                  <li id="edit-action">Edit</li>
                  <li id="delete-action">Delete</li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div th:if="${isSuccess}">
        <p>Updated successfully!</p>
      </div>
      <div th:if="${errorMessage != null}">
        <p th:text="${errorMessage}">Error message!</p>
      </div>
    </div>
  </section>

</div>
<section style="padding: 150px;"></section>
<footer>Created by JP Fernandez</footer>

<script th:src="@{/js/toggle-accordion.js}"></script>
<script th:src="@{/js/toggle-dropdown-menu.js}"></script>
<script th:src="@{/js/edit-post.js}"></script>
<script th:src="@{/js/scroll.js}"></script>
</body>
</html>