<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Events</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/create.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
  <div class="branding">
    <div class="header-icon">
      <img src="/images/rocket-icon.png" alt="">
    </div>
    Post Rocket
  </div>
  <div class="main">
    <div class="menu">
      <div class="menu-item">
        <a th:href="@{/home}" class="menu-link">Home</a>
      </div>
      <div class="menu-item">
        <a th:href="@{/dashboard}" class="menu-link">Dashboard</a>
      </div>
      <div class="menu-item">
        <a th:href="@{/create/events}" class="menu-link">Create</a>
      </div>
    </div>
  </div>
  <div class="util">
    <a th:if="${user == null}" th:href="@{/signin}" class="signin">Sign in</a>
    <div th:if="${user != null}" class="profile-icon">
      <a href="#" style="background-image: url(/images/profile-icon.png)" role="button" class="profile-thumbnail"></a>
    </div>
  </div>
</nav>
<div class="foreground">
  <section id="heading-section">
    <div class="title">
      <h2>Create a new post</h2>
    </div>
  </section>
  <section id="input-section">
    <div class="heading">
      <h3>Event details</h3>
      <span id="charCount" th:text="(${userInput?.getText()?.length()} ?: '0') + ' characters'"></span>
    </div>
    <form th:action="@{/create/events}" th:object="${userInput}" method="post">
      <div th:if="${userInput.getText() == null}">
        <textarea id="details" name="text" rows="15" cols="150">

        You may include the following details:

        - Event Title: This is the main headline of your event

        - Event Description: Briefly describe the event, what it's about, and why people should attend.

        - Event Date and Time: Include the specific date and time, considering time zones if relevant.

        - Location (Physical or Virtual): Specify the physical location or the virtual platform where the event will be held (e.g., Zoom, YouTube Live).

        - Event Website/Registration Link: If there's a dedicated event website or a registration link, include it here.

        - Target Audience: Who is this event for? Understanding the audience helps tailor the post's tone and content.

        - Event Hashtags: Are there any relevant hashtags people might use to find this event?
      </textarea>
      </div>

      <div th:if="${userInput.getText() != null}">
        <textarea id="text" name="text" rows="15" cols="150" th:field="*{text}"></textarea>
      </div>

      <br>
      <div class="action-container">
        <div><button type="submit" class="accent">Generate</button></div>
      </div>
    </form>
  </section>

  <section th:if="${requestOutput?.getPosts()?.size() > 1}" class="output-section">
    <h2>Generated tweets</h2>
    <form th:action="@{/create/events/save}" th:object="${requestOutput}" method="post">
      <div id="output-container">
        <div class="post" th:each = "post : ${requestOutput?.getPosts()}">
          <span th:text = "${post?.getPost()}"></span>
        </div>
        <div class="action-container">
          <div><button type="submit" class="accent">Save thread</button></div>
        </div>
      </div>
    </form>
  </section>

<!--  <section class="output-section">-->
<!--    <form th:action="@{/create/events/save}" method="post">-->
<!--    <h2>Generated tweets</h2>-->
<!--      <div id="output-container"></div>-->
<!--      <div class="action-container">-->
<!--        <div><button type="submit" class="accent">Save thread</button></div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </section>-->

<!--  <script th:src="@{/js/generate-sample-data.js}"></script>-->
  <script th:src="@{/js/validate-input.js}"></script>

</div>
</body>
</html>