<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home page</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<section id="hero">
  <div class="heading-section-left">
    <h1>Welcome to Post Rocket</h1>
    <div>
      <h2>Drive engagement with AI-powered social posts.</h2>
      <button class="accent" type="button" th:onclick="|window.location.href='/register'|">Create an account</button>
      <button class="primary" type="button" th:onclick="|window.location.href='/signin'|">Sign in</button>
    </div>
  </div>
  <div class="heading-section-right">
    <img src="">
  </div>
</section>
<section id="use-cases">
    <h2>Tailor captivating content for any goal</h2>
    <div class="tiles-container">
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Produce captivating social media posts about your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
</section>
</body>
</html>