<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home page</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<nav>
  <div class="branding">
    <div class="header-icon">
      <img src="/images/blog-icon.png" alt="">
    </div>
    Post Rocket
  </div>
  <div class="main">
  </div>
  <div class="util">
    <a th:href="@{/signin}" class="signin">Sign in</a>
  </div>
</nav>

<section id="hero">
  <div class="heading-section-left">
    <h1>Welcome to Post Rocket</h1>
    <div>
      <h2>Drive engagement with AI-powered social posts.</h2>
      <button class="accent" type="button" th:onclick="|window.location.href='/register'|">Create an account</button>
      <button class="primary" type="button" th:onclick="|window.location.href='/signin'|">Sign in</button>
    </div>
  </div>
  <div class="heading-section-right">
    <img src="" alt="">
  </div>
</section>

<section id="use-cases">
    <h2>Generate compelling posts tailored for any goal</h2>
    <div class="tiles-container">
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/event-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Events
                  </div>
                </div>
                <div class="item-description">Craft inviting content for your events.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/blog-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Blogs
                  </div>
                </div>
                <div class="item-description">Turn articles into concise Twitter threads and Facebook posts.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/product-launch-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Product Launches
                  </div>
                </div>
                <div class="item-description">Generate social media posts and visuals announcing new products or services.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/promo-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Promos and Deals
                  </div>
                </div>
                <div class="item-description">Create engaging content for social media to promote discounts, sales, and special offers.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/freebie-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Social Media Contests and Giveaways
                  </div>
                </div>
                <div class="item-description">Develop captivating posts and graphics to drive engagement through contests and giveaways.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="tile">
        <div class="drop-zone">
          <article>
            <div class="card-container">
              <div class="item">
                <div class="item-body-top">
                  <div class="icon-placeholder">
                    <img src="/images/reviews-icon.png" alt=""/>
                  </div>
                  <div class="title">
                    Customer Testimonials and Reviews
                  </div>
                </div>
                <div class="item-description">Generate social media posts that showcase positive customer experiences and reviews.</div>
                <button type="button" class="secondary">Try now</button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
</section>
</body>
</html>