<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style>
      body {
        background-image: url(/images/nature.jpeg);
      }
    </style>
  </head>
  <body>
    <div id="form">
      <div id="login">
        <div><h1>Sign in</h1></div>
        <p>New user? <a th:href="@{/register}">Create an account</a></p>
        <form method="post" action="#" th:action="@{/home}" th:object="${user}" >
          <input type="text" id="email" name="username" placeholder="Email" th:field="*{email}" required="" autofocus=""/>
          <input type="text" id="password" name="password" placeholder="Password" th:field="*{password}" required="" autofocus=""/>
          <button type="submit" class="top-margin accent">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
